.overlayElemento {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 50%;
    z-index: 2;
    background-color: #383838;
    border: 1px solid black;
    padding: 60px 15px 20px 15px;
    justify-content: center;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.overlayElemento * {
    color: #fff!important;
}

.overlayElemento span {
    margin-left: 5px;
}
.divFusaoEbulicao {
    margin: 5px 0px;
    padding: 10px;
    padding-left: 0px
}
.divElementoEstado,
.divFamiliaNox,
.divDistribuicaoValencia,
.divCuriosidades,
.curiosidade {
    padding: 10px;
    margin: 5px 10px;
}
.overlayElemento > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 2px
}
.overlayElemento > div:first-child > div:last-child {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;
}
.overlayElemento > div:first-child > div:last-child > div:first-child {
    display: flex;
}
.overlayElemento > button {
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    background-color: #686868;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 1000;
    font-family: sans-serif;
}
.overlayElemento > button:hover {
    background-color: #585858;
    cursor: pointer;
}
div.element{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 0.4px;
    border: 1px solid #fff;
    padding: 2px;
    cursor: default;
}
div.element * {
    color: #383838!important;
}

.numeroO {
    font-size: 1.5em;
    display: block;
    font-weight: bold;
}
.siglaO {
    font-size: 1.7em;
    font-weight: bolder;
}
.nomeO,
.massaO{
    font-size: 1em;
    margin: 5px
}
.estado {
    font-size: 1.1em;
    font-weight: bolder
}
.fusao,
.ebulicao,
.familia,
.nox,
.valencia,
.distribuicao {
    padding: 2px 5px;
    font-weight: bold;
}
.divElementoEstado {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 0px auto;
}
.curiosidade {
    border: 1px solid black;
    font-weight: bold;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .2);
}
.estado {
    margin-top: 5px
}
.divCuriosidades {
    text-align: center;
    text-justify: auto;
}
.overlayStartupBackground,
.overlayTabBackground{
    z-index: 3;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content:center
}
.overlayStartup {
    z-index: 4;
    background-color: #383838;
    max-width: 30%;
    max-height: 25%;
    text-align: center;
    padding: 10px 16px;
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff!important;
}
.overlayStartup span:first-child,
.overlayStartup span:last-child {
    color: cyan;
    text-decoration: underline;
}
.overlayStartup a1 {
    display: block;
    margin: 5px;
}
.overlayTab {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 80%;
    z-index: 2;
    background-color: #383838;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
}
.overlayTab * {
    color: #fff!important;
}

.anions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1
}
.cations legend span {
    font-size: 0.8em;
    font-weight: none;
    margin:0px 2px;
}
.cations {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.18);
    overflow: auto;
}

fieldset {
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    /* font-size: 0.9em */
    padding: 5px;
    background-color: rgb(110, 143, 248);
    border-radius: 2px;
}
fieldset div {
    display: flex;
    justify-content: space-between;
    /* font-weight: bolder; */
    margin: 2px 0px
}
.numeroTab {
    vertical-align: sub;
    font-size: x-small;
}
legend {
    font-size: 1em;
    font-weight: bolder
}

.monodipositivostop,
.monopositivos,
.dipositivos,
.tripositivosplustop,
.mononegativos {
    display: flex;
    flex-direction: column;
}
.trimonodipositivos,
.tripositivos,
.monodipositivos {
    display: flex;
    flex-direction: column;
}

.overlayTab button {
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    background-color: #686868;
    position: absolute;
    top: 0px;
    right: -70px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 1000;
    font-family: sans-serif;
}
.overlayTab button:hover {
    background-color: #585858;
    cursor: pointer;
}
.tab {
    transform: scale(1);
    z-index: 6;
    background-color: rgb(250, 168, 15);
    position: relative;
}
fieldset > div:hover {
    background-color: rgb(250, 168, 15);
    cursor: pointer;
}
.bg0 {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.18);
    height: 38%;

}
.bg1{
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: space-between;
    height: 50%;
    padding: 0px 10px;
}
.legendcatan{
	position: relative;
	top:0px;
	left:0px;
}
.cations,
.anions{
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}
