/*  RPG Base 76B3D7
    http: //paletton.com/#uid=23u0u0kflNj0LRA14OAt+VMu+Um
*/
header{
    height: 60px;
    background-color: rgb(106, 198, 252);
    border-bottom: 1px solid black;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 10px 0px 10px;
}
header img#ifrs {
    width: 40px;
    height: 50px;
}
header img#sia {
    width: 50px;
    height: 50px;
}
div.separador_header {
    height: 50px;
    width: 2px;
    margin: 30px;
    background-color: gray;
}
.audio_icone{
    width: 20px;
    height: 20px;
}
#container{
    margin: 5px;
}
#elementos_de_cima{
    display: flex;
    flex-direction: row;
}
#hidrogenio, #familia_1, #familia_2{
    display: flex;
    flex-direction: column;
    width: 57px;
    height: 59;
    margin: 5px;
}
