div.naometal {
    background-color: #4d05ac;
}
div.metalalcalino {
    background-color: #fac000;
}
div.semimetal {
    background-color: #8ac207;
}
div.metalrepresentativo {
    background-color: #02aecc;
}
div.lantanideos {
    background-color: #4539b1;
}
div.gasnobre {
    background-color: #6f00ff;
}
div.metalalcalinoterroso {
    background-color: #a39905;
}
div.halogenio{
    background-color: #c107c7;
}
div.metaldetransicao{
    background-color: #b30119;
}
div.actinideos{
    background-color: #05817b;

}
