div.naometal {
    background-color: #A1D344;
}
div.metalalcalino {
    background-color: #F1B200;
}
div.semimetal {
    background-color: #4DB6AC;
}
div.metalrepresentativo {
    background-color: #02aecc;
}
div.lantanideos {
    background-color: #90E3E9;
}
div.gasnobre {
    background-color: #3D9EE3;
}
div.metalalcalinoterroso {
    background-color: #a39905;
}
div.halogenio{
    background-color: #A2C7D3;
}
div.metaldetransicao{
    background-color: #EB8E8E;
}
div.actinideos{
    background-color: #DCADD6;

}
