div.nao_metal {
    background-color: rgb(2, 25, 41);
}
div.metal_alcalino {
    background-color: rgb(255, 201, 53);
}
div.semi_metal {
    background-color: #D49F23;
}
div.metal_representativo {
    background-color: #909ACE;
}
div.lantanideos {
    background-color: rgb(0, 77, 133);
}
div.gas_nobre {
    background-color: #207CD3;
}
div.metal_alcalino_terroso {
    background-color: rgb(124, 99, 34);
}
div.halogenio{
    background-color: #4b4b4b;
}
div.metal_de_transicao{
    background-color: #332b12;
}
div.actinideos{
    background-color: #707070;

}
