div.naometal {
    background-color: #B3B06E
}
div.metalalcalino {
    background-color: #D9DE35
}
div.semimetal {
    background-color: #746CAF
}
div.metalrepresentativo {
    background-color: #4235C2
}
div.lantanideos {
    background-color: #AFA8E7
}
div.gasnobre {
    background-color: #615ACE
}
div.metalalcalinoterroso {
    background-color: #9FA031
}
div.halogenio{
    background-color: #AFADCF
}
div.metaldetransicao{
    background-color: #C8CF8E
}
div.actinideos{
    background-color: #CACDC9

}
