div.nao_metal {
    background-color: #00406C;
}
div.metal_alcalino {
    background-color: #FDBE0C;
}
div.semi_metal {
    background-color: #D49F23;
}
div.metal_representativo {
    background-color: #909ACE;
}
div.lantanideos {
    background-color: #004C81;
}
div.gas_nobre {
    background-color: #207CD3;
}
div.metal_alcalino_terroso {
    background-color: #B48714;
}
div.halogenio{
    background-color: #B34E53;
}
div.metal_de_transicao{
    background-color: #725600;
}
div.actinideos{
    background-color: #716977;

}
