div.nao_metal {
    background-color: #003C7F;
}
div.metal_alcalino {
    background-color: #EAD132;
}
div.semi_metal {
    background-color: #C3AD00;
}
div.metal_representativo {
    background-color: #BDBFD5;
}
div.lantanideos {
    background-color: #004796;
}
div.gas_nobre {
    background-color: #005ABE;
}
div.metal_alcalino_terroso {
    background-color: #A39100;
}
div.halogenio{
    background-color: #0061CD;
}
div.metal_de_transicao{
    background-color: #645A22;
}
div.actinideos{
    background-color: #737070;

}
