div.naometal {
    background-color: #003C7F;
}
div.metalalcalino {
    background-color: #EAD132;
}
div.semimetal {
    background-color: #C3AD00;
}
div.metalrepresentativo {
    background-color: #BDBFD5;
}
div.lantanideos {
    background-color: #004796;
}
div.gasnobre {
    background-color: #005ABE;
}
div.metalalcalinoterroso {
    background-color: #A39100;
}
div.halogenio{
    background-color: #0061CD;
}
div.metaldetransicao{
    background-color: #645A22;
}
div.actinideos{
    background-color: #737070;

}
