div.naometal {
    background-color: #B6B766
}
div.metalalcalino {
    background-color: #D5D52B
}
div.semimetal {
    background-color: #7A7BAE
}
div.metalrepresentativo {
    background-color: #4C4ECA;
    color: #fff!important;
}
div.lantanideos {
    background-color: #B3BAE7
}
div.gasnobre {
    background-color: #6767D2
}
div.metalalcalinoterroso {
    background-color: #9E9E28
}
div.halogenio{
    background-color: #B2B2D0
}
div.metaldetransicao{
    background-color: #C2C18E
}
div.actinideos{
    background-color: #C7C7CC

}
