div.naometal {
    background-color: #284348;
}
div.metalalcalino {
    background-color: #FAAEBB;
}
div.semimetal {
    background-color: #95ACBA;
}
div.metalrepresentativo {
    background-color: #00AEBB;
}
div.lantanideos {
    background-color: #0C5056;
}
div.gasnobre {
    background-color: #365F66;
}
div.metalalcalinoterroso {
    background-color: #A68A94;
}
div.halogenio{
    background-color: #38626A;
}
div.metaldetransicao{
    background-color: #B21000;
}
div.actinideos{
    background-color: #1C7E88;

}
