div.naometal {
    background-color: #A38187
}
div.metalalcalino {
    background-color: #ED4D54
}
div.semimetal {
    background-color: #52B0B0
}
div.metalrepresentativo {
    background-color: #0ABFBD
}
div.lantanideos {
    background-color: #94E6E6
}
div.gasnobre {
    background-color: #41C5C2
}
div.metalalcalinoterroso {
    background-color: #A2454B
}
div.halogenio{
    background-color: #A3CDCD
}
div.metaldetransicao{
    background-color: #E68E8E
}
div.actinideos{
    background-color: #D9C4C2

}
