div.nao_metal {
    background-color: #284348;
}
div.metal_alcalino {
    background-color: #FAAEBB;
}
div.semi_metal {
    background-color: #95ACBA;
}
div.metal_representativo {
    background-color: #00AEBB;
}
div.lantanideos {
    background-color: #0C5056;
}
div.gas_nobre {
    background-color: #365F66;
}
div.metal_alcalino_terroso {
    background-color: #A68A94;
}
div.halogenio{
    background-color: #38626A;
}
div.metal_de_transicao{
    background-color: #B21000;
}
div.actinideos{
    background-color: #1C7E88;

}
